<!DOCTYPE html>
<html lang="">
    <%- include('../partials/head.ejs') %> 
<body>
     <%- include('../partials/header.ejs') %>
     <div class="container-fluid justify-content-center bg-dark" id="main-container">
       
      <section class="products" id="gamesps">

        <h2>centro de administracion</h2>

      </section>
      
      <section class="products" id="gamesps">
        

        <div class="card" style="width: 18rem;">
          <img src="/image/Logo/usuariosCrear.jpg"  class="card-img-top" alt="listadousuario">
          <div class="card-body">
            <h5 class="card-title text-center ">Lista de usuarios</h5>
            <br>
            <a href='/usuarios' class="btn btn-primary ">Ingresar</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/image/Logo/maxresdefault.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Crear Producto</h5>
            <br>
            <a href="/productos/create" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/image/Portada/dashboardreact.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ir al Dashboard</h5>
            <a href="http://localhost:3000" class="btn btn-primary">ingresar</a>
          </div>
        </div>
        


      

      </section>
		

     </div>


    <%- include('../partials/footer.ejs') %> 

    
</body>
</html>